<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--seo-->
  <meta name="keywords" content="bufandas, bufanda abrigada, ponchos, diseños">
  <meta name="description" content=" Marca de pañuelos, con diseños únicos, divertidos y originales, para complementar nuestros outfits">
  <title> Bufandas - Millie </title>
  <link rel="stylesheet" href="../assets/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!--estructura--> 
<body>
    <header>
        <div class="logobox">
            <a class="header-logo" href="../index.html"
            ><img class="header-logo_gif" src="../image/11.gif" alt="logo de la marca"/>
            </a>
        </div>

  <!--Menu--> 
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2d753">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/print.html">ESTAMPADOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/scarf.html">PAÑUELOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"  href="../views/bufandas.html">BUFANDAS</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="../views/faqs.html">FAQS</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html">CONTACTO</a>
                        </li>
                </ul>      
               <form class="d-flex">
                    <div class="box">
                        <div class="container-1">
                            <div class="form-group has-feedback">
                                <i class="fa fa-search form-control-feedback"></i>
                                <input type="text" class="form-control" placeholder="Busqueda Avanzada">
                            </div>
                        </div>
                    </div>  
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>      
               </form>
            </div>
        </div> 
    </nav>
    </header>
  
  <!-- title barra-->
  <section class="container-nombre">
    <div> 
        <p>BUFANDAS</p>
    </div>
  </section>

<!-- productos -->
<section class="container-productos">
    <div class="album py-5 bg-light">
    <div class="container">
  
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
                <img class="fotos__print" src= "../image/jesica.jpeg"  alt="Bufanda jesica"/>
                <div class="card-body">
                <h4 class="card-titulo_scarf"> Bufanda Jesica</h4>
                <p class="card-text"> Bufanda larga <br> A rayas multicolor  </p>
                <div class="product-scarf_button">
                    <p><a class="button-scarf btn-lg" style="background-color: #f5d4d1;" href="#">$ 1.800</a></p>
                </div> 
                </div>
          </div>
        </div>

        <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/cecilia.jpeg"  alt="Bufanda Cecilia"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Cecilia </h4>
            <p class="card-text">Maxi bufanda estilo poncho <br>
                A rayas con terminación con flecos</p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 2.100 </a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/carola.jpeg"  alt="Budanda Carola"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Carola </h4>
            <p class="card-text"> Maxi bufanda estilo poncho <br>
                A rayas multicolor vibrantes </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg"  style="background-color: #f5d4d1;" href="#">$ 2.100 </a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/celesta.jpeg"  alt="Bufanda Celesta"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Celesta</h4>
            <p class="card-text"> Maxi bufanda estilo poncho <br>
              Bicolor con bordado </p>
            <div class="product-scarf_button">
                <p class="buton-text"><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 2.100</a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/matilda.jpeg"  alt="Bufanda Matilda"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Matilda</h4>
            <p class="card-text"> Maxi bufanda estilo poncho  <br> A rayas multicolor 4 colores </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 2.100</a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/leticia.jpeg"  alt="Bufanda Leticia"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Leticia</h4>
            <p class="card-text">Maxi bufanda estilo poncho <br> Multicolor cuadrille</p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 2.100</a></p>
            </div> 
          </div>
        </div>
      </div>
	  <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/federica.jpeg"  alt="Bufanda Federica"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Federica</h4>
            <p class="card-text"> Maxi bufanda estilo poncho <br>
              Estampado Principe Gales </p>
            <div class="product-scarf_button">
                <p class="buton-text"><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 1.800</a></p>            
            </div> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/Lorena.jpeg"  alt="Bufanda Lorena"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufanda Lorena</h4>
            <p class="card-text"> Maxi bufanda estilo poncho<br> Estampado a cuadrille. </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#">$ 2.100</a></p>            
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="fotos__print" src= "../image/Franchesca.jpeg"  alt="Bufanda Franchesca"/>
          <div class="card-body">
            <h4 class="card-titulo_scarf"> Bufandas Franchesca</h4>
            <p class="card-text"> Bufanda Mix Rayas <br> Bufanda combinada </p>
            <div class="product-scarf_button">
                <p><a class="button btn-lg" style="background-color: #f5d4d1;" href="#"> $ 1.800</a></p>
            </div> 
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
 
</section>

<!--Footer-->
<footer>
    <div class="container-footer" >
     <div class="container-footer_columns">
         <div class="column-text">
             <h5>Navegación</h5>
             <div class="nav-item_footer">
                 <ul>
                     <li>
                         <a class="nav-link_footer" href="../index.html">News</a>
                     </li>
                     <li>
                         <a class="nav-link_footer" href="../views/print.html">Estampados</a>
                     </li>
                     <li>
                         <a class="nav-link_footer" href="../views/scarf.html">Pañuelos</a>
                     </li>
                     <li>
                         <a class="nav-link_footer" href="../views/bufandas.html">Bufandas</a>
                     </li>
                     <li>
                         <a class="nav-link_footer" href="../views/faqs.html">Preguntas Frecuentes</a>
                     </li>
                     <li>
                         <a class="nav-link_footer" href="../views/contact.html">Contacto</a>
                     </li>
                 </ul>
             </div>
         </div>
         <div class="column-rrss">
             <h5> Redes Sociales</h5>
                 <div class="row-footer">
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <label>Síguenos en Fabebook</label>
                 </div>
                 <div class="row-footer">
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <label>Síguenos en Instagram</label>
                 </div>
                 <div class="row-footer">
                     <a href="#"><i class="fa fa-google"></i></a>
                     <label>Síguenos en Google</label>
                 </div>
         </div>
         <div class="column-contact">
             <h5>Contacto</h5>
             <div class="row-footer_contact">
                 <div class="row-footer-datos"> 
                         <img src="../image/home-outline.svg" alt="Nombre de la marca">
                         <label>Millie Bsas</label>
                 </div>
                 <div class="row-footer-datos"> 
                         <img src="../image/map-outline.svg" alt="mapa localización">
                         <label>Av. Cordoba 3200 - Caba</label>
                 </div>
                 <div class="row-footer-datos"> 
                         <img src="../image/email-outline.svg" alt="correo electrónico">
                         <label>info@millie.com.ar</label>
                 </div>
                 <div class="row-footer-datos"> 
                         <img src="../image/smartphone-outline.svg" alt="Telefono de contacto">
                         <label>11-5555-4444</label>
                 </div>
             </div>
   
         </div>
     </div>
     </div>
         <div class="footer-bottom">
             <p>copyright &copy;2020 codeOpacity. designer by <span> pampa </span></p>
         </div>
  
  </footer>
  
  </body>
  
  <!--scrips-->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
  </html>