<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--seo-->
    <meta name="keywords" content="preguntas frecuentes, consultas, como pagar, envíos, abono, realizar cambios, envíos">
    <title>Preguntas Frecuentes - Millie </title>
	<meta name="description" content=" Marca de pañuelos, con diseños únicos, divertidos y originales, para complementar nuestros outfits">
	<link rel="stylesheet" href="../assets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<!-- inicio de la estructura -->
<!--estructura--> 
<body>
    <header>
        <div class="logobox">
            <a class="header-logo" href="../index.html"
            ><img class="header-logo_gif" src="../image/11.gif" alt="logo de la marca"/>
            </a>
        </div>
    </header>
  <header>  
  <!--Menu--> 
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f2d753">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/print.html">ESTAMPADOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/scarf.html">PAÑUELOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/bufandas.html">BUFANDAS</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/faqs.html">FAQS</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html">CONTACTO</a>
                        </li>
                </ul>      
               <form class="d-flex">
                    <div class="box">
                        <div class="container-1">
                            <div class="form-group has-feedback">
                                <i class="fa fa-search form-control-feedback"></i>
                                <input type="text" class="form-control" placeholder="Busqueda Avanzada">
                            </div>
                        </div>
                    </div>  
                    <button class="btn btn-outline-warning" type="submit">Buscar</button>      
               </form>
            </div>
        </div> 
    </nav>
  </header>
  
<!-- Contenido a la derecha--> 

<section class="container-box__faqs">
	
  
	<div class="container-texto__faqs">
    <!--cuestionario texto-->
                 <h2 class=>PREGUNTAS FRECUENTES</h2>  
                          
                <p class="lead">
                  <h4>¿Cómo comprar?</h4> 
                </p>
                    
                <ol class="container-texto__faqs">
                    <li>Elegí el producto que deseas comprar y hacé clic en el botón "Agregar al carrito". </li><br>
                    <li>Puedes seguir agregando otros productos al carrito o sino hacé click en "Iniciar Compra".</li><br>
                    <li>Selecciona la modalidad de envio, completa tu dirección de email y hacé click en "Continuar".</li><br>
                    <li>Los envíos se realizan a través de OCA. <br>
                    Opción de envío a domicilio: teniendo en cuenta que las entregas, por parte el correo, se realizan los días hábiles de 8.30 a 18 hs. El envío por parte del correo puede tardar entre 3 y 15 días hábiles, dependiendo del lugar de entrega.<br>
                    O podés elegir el retiro en una sucursal de OCA. Una vez que el paquete llegó a la sucursal contás con 5 dias hábiles para retirarlo, sino el mismo volverá a nuestro showroom, donde podrás retirarlo sin costo coordinando cita previa. En caso de que quieras que te lo enviemos nuevamente  mediante OCA, deberás volver a abonar el costo de envío. Escribinos a info@millie.com.ar para que podamos ayudarte con la entrega de tu pedido. Millie BsAs no se responsabiliza por errores de escritura en la direción de envío y otros datos para la entrega.<br>
                    Si estás en CABA, podés retirar tu pedido por nuestro local, con cita previa, en el barrio de Palermo.<br>
                    O podés elegir la opción de envío con moto. <br>
                    También puedes seleccionar la opción de "A convenir" y pagarlo cuando lo retirás. </li><br>
                    <li>Completa todos los datos y hace click en continuar. IMPORTANTE: CUALQUIERA DE LAS OPCIONES QUE ELIJAS, ES NECESARIO COMPLETAR TODOS LOS DATOS SIN EXCEPCION, SINO NO TE PERMITARA PASAR AL SIGUIENTE PASO.</li><br>
                    <li>Si tienes una cuenta en Mercado Pago, elegi la opción de " usar mi cuenta mercado pago o mercado libre" y coloca tu direccion de email y clave con la accedes a dicha plataforma. Si no tienes una cuenta en mercado pago, elige la opción " No tengo cuenta" y coloca tu dirección de email.  </li><br>
                    <li>Selecciona el medio de pago. En la casilla " Medio de Pago" hace click y se desplegara todas las formas de pago, con tarjeta de crédito o pago fácil.</li><br>
                    <li>Una vez elegido el medio de pago,completa todos los datos y hace click en confirmar pago. Una vez acreditado, te llegará un email de mercado pago confirmandote el mismo.<br>
                    Tené en cuenta que tu pedido no será preparado hasta que se haya confirmado el pago del mismo. </li><br>
                    <li>En todos los casos el pedido se mantendrá vigente por 4 días hábiles. Después  de ese plazo, si la compra no ha sido concretada o abonada mediante otros medios se procederá a la cancelación de la orden y los productos volverán al stock.<br>
                    Si elegís la opción de abonar en efectivo en el local, o mediante transferencia bancaria, escribinos a info@millie.com.ar para que podamos coordinar el pago y la posterior entrega.</li><br>
                </ol>
                <p class="lead">
                  <h4>Tiempo de entrega</h4> 
                </p>
                <ol class="container-texto__faqs">
                    <p class="container-texto__faqs">La salida de un producto de nuestro depósito, es entre las 24 y 72 hs de haber recibido el pago, dependiendo de la demanda del momento.<br>
                    Se estima un tiempo de entrega entre 3 y 15 días hábiles a partir de la acreditación del pago, y dependiendo del lugar de entrega.</p>
                </ol>
                    <p class="lead">
                      <h4>¿Qué debo hacer si el producto no llega en buen estado?</h4> 
                    </p>
                <ol>
                    <p class="container-texto__faqs">Una vez recibido nuestro paquete, ponte en contacto con nosotros a info@millie.com.ar ó por whatsapp para avisarnos sobre el problema y póder brindarte una solución. Recuerda que ÚNICAMENTE se realizan cambios por fallas de fabricación.</p>
                </ol>  
  </div>

</section>

<!-- footer -->
<footer class="container-footer">
	<div class="footer-content__efect">
		<div class="footer-content">
					
			<ul class="socials">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-google"></i></a></li>
			</ul>
	    </div>
		<div class="footer-bottom_faqs">
			<p>copyright &copy;2020 codeOpacity. designer by <span> Kim Pampa </span></p>
		</div>
    </div>
</footer>
	
	</body>
	<!--scrips-->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
	</html>
</body>
</html>




